body {
  background-image: url("media/world-map.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  font-family: "Barlow Semi Condensed", sans-serif;
  height: 600px;
}

img {
  width: 50px;
}

a {
  text-decoration: none;
}
h1 {
  text-align: center;
  font-size: 45px;
  font-weight: bold;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 15px;
}

select {
  padding: 15px;
  width: 50%;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  background-color: #fff;
  border-radius: 8px;
}

/* .time {
  display: inline;
  text-align: right;
} */

#content {
  max-width: 500px;
  max-height: 700px;
  margin: 60px auto;
  padding: 40px 40px;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 0.99;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  width: 800px;
}

#displayed-cities {
  margin: 50px 20px;
}

.time {
  font-size: 50px;
}

.section-two {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-two h3 {
  text-align: center;
}

.date {
  font-size: 18px;
  padding-left: 45px;
}

.displayed-city {
  border-bottom: dashed 1px rgb(48, 47, 47);
}
.displayed-city:last-child {
  border: none;
}

#github-link {
  border-radius: 8px;
  background-color: rgb(5, 6, 45);
  padding: 10px 0;
  text-align: center;
  color: #fff;
  width: 310px;
  margin: 0 auto;
}

#go-back {
  padding-bottom: 30px;
  text-decoration: none;
  text-align: center;
  font-size: 25px;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-style: italic;
}

#go-back:hover {
  opacity: 0.8;
}

#go-back a {
  color: #000;
}
